[submodule "lib/copas"]
	path = contrib/copas
	url = https://github.com/keplerproject/copas.git
[submodule "lib/xavante"]
	path = contrib/xavante
	url = https://github.com/keplerproject/xavante.git
[submodule "lib/luasocket"]
	path = contrib/luasocket
	url = https://github.com/diegonehab/luasocket.git
[submodule "lib/coxpcall"]
	path = contrib/coxpcall
	url = https://github.com/keplerproject/coxpcall.git
